<html>
    <head>
    	
        {% if page %}
            <title>{{ page.title }} - {{ context['TITLE'] }} - {{ context['BRAND'] }}</title>
        {% elif title %}
            <title>{{ title }} - {{ context['TITLE'] }} - {{ context['BRAND'] }}</title>
        {% else %}
            <title>{{ context['TITLE'] }} - {{ context['BRAND'] }}</title>
        {% endif %}

        <link rel="shortcut icon" type="image/x-icon" href="{{ url_for('static', filename='img/logo.ico.svg') }}">
        
        <link rel="stylesheet" href="{{ url_for('pygments_css') }}">
        <link rel="stylesheet" href="{{ url_for('static', filename='build/bootstrap-custom.css') }}">
		
    </head>
    <body>
        
        <div>
            {% include 'includes/topbar.html' %}
            <div class="container-fluid mt-5">
                <div class="d-flex flex-row"> 
                    
                    {% include "includes/sidebar.html" %}
                    <main role="main" class="col-12 ml-sm-auto col-lg-10 pt-3 px-4">
                        <div class="card">
                            <div class="card-body">
                                <div class="card-title mb-3 mb-lg-4">
                                    {% if page %}
                                        <h1 class="display-4">{{ page.title }}</h1>
                                    {% elif title %}
                                        <h1 class="display-4">{{ title }}</h1>
                                    {% endif %}
                                </div>
                                <div class="card-text">
                                    {% block content %}{% endblock %}
                                </div>
                            </div>
                        </div>
                    </main>
                </div>
            </div>
        </div>
        <script src="{{ url_for('static', filename='build/jquery.slim.min.js') }}"></script>
        <script src="{{ url_for('static', filename='build/popper.min.js') }}"></script>
        <script src="{{ url_for('static', filename='build/bootstrap.min.js') }}"></script>
    </body>
</html>
