{% block content %}
<nav class="d-flex flex-row navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <div class="d-flex flex-row justify-content-center col-12 col-lg-2 m-0 p-0 pl-lg-1 pr-lg-1">
        <a class="navbar-brand w-100 m-0 p-0 d-flex flex-row justify-content-between" href="{{ context['EXT_LINK'] }}">
            <img id="logowrap" class="justify-self-start"  src="{{ url_for('static', filename='img/logo.svg') }}">
            <div class="d-flex flex-row w-100 navbar-title px-3 justify-self-end justify-content-around">
                {{ context.BRAND }}<div class="d-lg-none ml-3">{{ context.TITLE }}</div>
            </div>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        
    </div>
    <div class="col-lg-10 navbar-collapse collapse" id="navbarSupportedContent">
            <ul class="d-lg-none navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{{ url_for('index') }}">
                        Home
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Content
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        {% for menu in menu_entries %}
                            <a class="dropdown-item" href="/{{ menu.path }}">
                                {{ menu.title }}
                            </a>
                        {% endfor %}
                    </div>
                </li>
                {% if extra_pages %}
                    {% for extra_page in extra_pages %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ extra_page.path }}">
                                {{ extra_page.title }}
                            </a>
                        </li>
                    {% endfor %}
                {% endif %}
            </ul>
            <div class="w-100 m-0 p-0 pt-2">
                {% include 'includes/search_bar.html' %}
            </div>
        </div>
</nav>
{% endblock %}